<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <h2>{{evento.nome}}</h2>
  <p margin-bottom>{{evento.descricao}}</p>
    <ion-card>
      <ion-card-header>
        Detalhes
      </ion-card-header>
      <ion-card-content>
        <p>Data: {{evento.dataEvento}}</p>
        <p>Local: {{evento.local}}</p>
        <h3 margin-bottom>Valor: R${{evento.preco}}</h3>
      </ion-card-content>
    </ion-card>

    <p><b>Formas de pagamento</b></p>
    <img id="img-forma-pagamento" src="./assets/imgs/formas-pagamento.jpg" />



</ion-content>
<ion-footer>
  <ion-toolbar>
    <button ion-button round margin-top full color="secondary" (click)="buyTickets(evento)">Quero Comprar</button>
  </ion-toolbar>
</ion-footer>