<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Eventos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor="let event of eventsList">
    <ion-card-header>
      <b>{{event.nome}}</b>
    </ion-card-header>
    <ion-card-content>
      <p margin-bottom>{{event.descricao}}</p>
      <p>Data do evento: {{event.dataEvento}}</p>
      <button ion-button round margin-top full (click)="getDetails(event)">Detalhes</button>
    </ion-card-content>
  </ion-card>

  <!-- <button ion-button secondary menuToggle>Toggle Menu</button> -->
</ion-content>
