<ion-header>

  <ion-navbar>
    <ion-title>Comprar</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <h2>{{evento.nome}}</h2>
  <p>Preencha os campos abaixos para efetuar a compra.</p>
  <ion-item>
    <ion-label stacked>Nome</ion-label>
    <ion-input type="text" [(ngModel)]="formFields.nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Sobrenome</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>E-Mail</ion-label>
    <ion-input type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>CPF (somente números)</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Idade</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Telefone</ion-label>
    <ion-input type="tel"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Cidade em que reside</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <button ion-button round margin-top full color="secondary" (click)="finish()">Finalizar Compra</button>
  </ion-toolbar>
</ion-footer>